section.page-class
  .container

    h1.page-class__title ПРЕИМУЩЕСТВА #[span.nowrap G-SYNC]

    include ../../test-block

    .text-center
      a.button.button-primary(href='#helloModal' data-bs-toggle="modal" data-bs-target="#helloModal") Купить
